<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <div>
            <h3 style="font-size: 30px">Olá</h3>
        </div>
        <div>
            <span style="font-size: 20px">Sua licença expira em 5 dias, entre em contato com o financeiro para realizar o pagamento.</span>
        </div>
        <div style="padding-top: 10px; padding-bottom: 10px">
            <span style="font-weight: bold; font-size: 20px">Valor da fatura: </span>
            <span style="font-size: 20px">R$ {{valorFatura}}</span>
        </div>
        <div style="font-size: 20px">A Autech agradece a sua atenção.</div>
    </div>
</body>
</html>